<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>

<div class="jumbotron">
    <h1 class="display-3">Welcome to TuDu!</h1>
    <p class="lead">This is a simple app to keep track of all your tasks! From personal to professional tasks!</p>
    <hr class="my-4">
    <p>Come in and organize all your tasks for your Work team or for yourself. Click below to sign up!!</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/signup" role="button">Get Started!</a>
    </p>
</div>

</body>
</html>