<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: nav"></nav>
<form th:action="@{/signup}" method="post" th:object="${user}">
    <div class="form-group">
        <label class="col-form-label" th:for="fname">First Name</label>
        <input type="text" class="form-control" placeholder="Harry" id="fname" th:field="*{fname}">
    </div>
    <div class="form-group">
        <label class="col-form-label" th:for="lname">Last Name</label>
        <input type="text" class="form-control" placeholder="Potter" id="lname" th:field="*{lname}">
    </div>
    <div class="form-group">
        <label th:for="email">Email address</label>
        <input type="email" th:field="*{email}" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Hpotter@Hogwarts.edu">
    </div>
    <div class="form-group">
        <label th:for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Signup!"/>

</form>



<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>